/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 17, 2014, 9:20:53 AM
    Author     : Goran Lochert <goran@anahata-it.com.au>
*/

.autocomplete-combo-box {
    -fx-skin: "com.anahata.jfx.internal.scene.control.skin.AutoCompleteComboBoxSkin";
    /*-fx-border-color: skyblue; testing*/
}

.autocomplete-combo-box .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
}

.combo-box-popup .list-view {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell {
    -fx-padding: 4 0 4 5;    
    -fx-background-color: -fx-control-inner-background;
}

.combo-box-popup .list-view .list-cell:filled:selected, 
.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: -fx-cell-hover-color;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-popup .list-view .list-cell:odd {
    -fx-background: -fx-control-inner-background-alt;
    -fx-background-color: -fx-control-inner-background-alt;
}

.combo-editor {
    -fx-padding: 0 0 0 0;    
}

.combo-editor .scroll-pane > .scroll-bar:horizontal {
    -fx-background-color: null;
    -fx-opacity: 0.0;
}

.combo-editor .scroll-pane > .scroll-bar:vertical {
    -fx-background-color: null;
    -fx-opacity: 0.0;
}