/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 18, 2013, 3:26:19 AM
    Author     : Goran Lochert <goran@anahata-it.com.au>
*/
.field-set {
    -fx-padding: 0 8 8 8;
}
.field-set .right-corner {
    -fx-border-color: black black transparent transparent;
    -fx-border-insets: -1 0 -1 0; /* so that border is centered with title center */
    /*-fx-border-color: green green transparent transparent;*/
    /*-fx-border-insets: 0 0 0 0;*/
    /*-fx-border-color: green;*/
    /*-fx-border-insets:*/ 
    -fx-border-radius: 0 8 0 0;
    /*-fx-background-color: blue;*/
    -fx-border-width: 3;
}

.field-set .left-corner {
    -fx-border-color: black transparent transparent black;
    -fx-border-insets: -1 0 -1 0; /* so that border is centered with title center*/
    -fx-border-radius: 8 0 0 0;    
    -fx-border-width: 3;
}

.field-set .content-area {
     /*-fx-padding: 8 8 8 8;*/
    -fx-border-color: transparent black black black; 
    /*-fx-border-color: black;*/
    -fx-border-radius: 0 0 8 8;
    -fx-border-width: 3;
}

.field-set .title-area {
    -fx-padding: 2;
}