/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2013, 6:10:53 AM
    Author     : Goran Lochert <goran@anahata-it.com.au>
*/

Text {
    -fx-font-weight: bold;
    -fx-font-size: 14pt;    
}

/****************************
    LEFT FIELD SET STYLES 
****************************/
.left-field-set {
    -fx-title-position: LEFT;
    /*-fx-edge-distance: 20.0;*/
}

/****************************
    CENTER FIELD SET STYLES 
****************************/
.center-field-set {
    -fx-title-position: CENTER;
}

/****************************
    RIGHT FIELD SET STYLES 
****************************/
.right-field-set {
    -fx-title-position: RIGHT;
    -fx-edge-distance: 20.0;
}

.right-field-set .title-area {
    -fx-border-color: black;
    -fx-border-radius: 8;
    -fx-border-width: 3;
    
}