/*
 * Copyright (c) 2009, 2011, Oracle and/or its affiliates. All rights reserved. 
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER. 
 *  
 * This code is free software; you can redistribute it and/or modify it 
 * under the terms of the GNU General Public License version 2 only, as 
 * published by the Free Software Foundation.  Oracle designates this 
 * particular file as subject to the "Classpath" exception as provided 
 * by Oracle in the LICENSE file that accompanied this code. 
 *  
 * This code is distributed in the hope that it will be useful, but WITHOUT 
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License 
 * version 2 for more details (a copy is included in the LICENSE file that 
 * accompanied this code). 
 *  
 * You should have received a copy of the GNU General Public License version 
 * 2 along with this work; if not, write to the Free Software Foundation, 
 * Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA. 
 *  
 * Please contact Oracle, 500 Oracle Parkway, Redwood Shores, CA 94065 USA 
 * or visit www.oracle.com if you need additional information or have any 
 * questions.
 */

/*******************************************************************************
 *                                                                             *
 * Sandbox CSS                                                                 *
 *                                                                             *
 ******************************************************************************/
 

/*******************************************************************************
 *                                                                             *
 * Dialogs                                                                     *
 *                                                                             *
 ******************************************************************************/

/**** Window buttons: Close, Minimize, Maximize ****/

.dialog {
    -fx-padding: -1;
    -fx-border-insets: 0 10 10 0;
    -fx-border-width: 2;
    -fx-border-radius: 5 5 0 0;
    -fx-background-color: transparent;    
    -fx-border-color: #a3a3a3;
}

.dialog:active {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 11, 0.0, 3, 3);
    -fx-border-color: #3e3e3e;
}

.dialog .window-header {
    -fx-padding: 0 3 0 8;
    -fx-background-color: linear-gradient(#cccccc, #bababa 37%, #a6a6a6);
    -fx-background-radius: 5 5 0 0;
}

.dialog:active .window-header {
    -fx-background-color: linear-gradient(#595959, #474747 37%, #343434);
}

.dialog .window-title {
    -fx-padding: 4 0 0 0;
    -fx-alignment: bottom_center;
    -fx-font: 15px "Amble Cn";
    -fx-text-fill: #808080;
}

.dialog:active .window-title {
    -fx-text-fill: #ebebeb;
}

.dialog .window-resize-corner {
    -fx-fill: transparent;
    -fx-cursor: se_resize;
}

.dialog .window-buttons .window-button {
    -fx-skin: "com.sun.javafx.scene.control.skin.ButtonSkin";
    -fx-background-color: transparent transparent;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 2;
    -fx-padding: 0 0 0 0;
    -fx-alignment: center;
}

.dialog:active .window-button:hover {
    -fx-background-color: linear-gradient(#505050,#2d2d2d),
                          linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);
}

.dialog .window-buttons {
    -fx-padding: 6 0 0 0;
}

.dialog .window-button:pressed {
    -fx-background-color: linear-gradient(#515151,#202020),
                          linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);
}

.dialog .window-button .graphic {
    -fx-background-color: #949494;
    -fx-scale-shape: false;
    -fx-padding: 4.5 4.5 4.5 4.5; /* Graphic is 9x9 px */
}

.dialog:active .window-button:hover .graphic {
    -fx-background-color: #fefeff;
}

.dialog .window-button:pressed .graphic {
    -fx-background-color: #cfcfcf;
}

.dialog .window-close-button .graphic {
    -fx-shape: "M395.992,296.758l1.794-1.794l7.292,7.292l-1.795,1.794 L395.992,296.758z M403.256,294.992l1.794,1.794l-7.292,7.292l-1.794-1.795 L403.256,294.992z";
}

.dialog .window-minimize-button .graphic {
    -fx-shape: "M420.012,299.248v2.537h-9.001v-2.537H420.012z";
}

.dialog .window-maximize-button .graphic {
    -fx-shape: "M406.283,294.985h2.537v9.031h-2.538L406.283,294.985z M412.012,298.248v2.537h-9.001v-2.537H412.012z";
}

.dialog .content-pane {
    -fx-background-color: #eeeeee;
    -fx-text-fill: #292929;
}

.dialog .top-panel {
    -fx-padding: 10 14 10 14;
    -fx-background-color: linear-gradient(#e2e2e2,#e2e2e2,#eeeeee);
}

.dialog .masthead-label-1 {
    -fx-font: 15px "Amble Cn";
    -fx-wrap-text: true;
}

.dialog .masthead-label-2 {
    -fx-font: 15px "Amble Cn";
    -fx-wrap-text: true;
    -fx-text-fill: #646464;
}

.dialog .center-panel {
    -fx-padding: 16 16 14 28;
    -fx-spacing: 14;
    -fx-background-color: linear-gradient(#ffffff,#f3f3f4);
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #b4b4b4 white #b4b4b4 white;
    -fx-font: 13px "Amble Cn";
}

.dialog .center-panel .button-bar {
    -fx-alignment: center-right;
    -fx-padding: 8 8 8 8;
}

.dialog .bottom-panel {
    -fx-padding: 14 14 14 14;
    -fx-spacing: 14;
    -fx-background-color: linear-gradient(#eeeeee,#e2e2e2,#e2e2e2);
    -fx-alignment: center-left;
}

.dialog .more-info-dialog {
    -fx-background-color: #eeeeee;
    -fx-padding: 15 18 8 18;
}

.dialog .more-info-dialog .button-panel {
    -fx-padding: 12 0 12 12;
    -fx-alignment: CENTER_RIGHT;
}

.dialog .error-label {
    -fx-font-weight: bold;
    -fx-alignment: top-left;
}

.dialog .error-value {
    -fx-alignment: top-left;
}

.dialog .error-events {
    -fx-width: 100%;
}
