.text-editor-text-area {
    -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 5;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}

.text-editor-text-area:focused {
    -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
    -fx-prompt-text-fill: transparent;
}

.spell-typo {
    -fx-fill: red;
    -fx-underline: true;
}

.spell-other {
    -fx-fill: green;
    -fx-underline: true;    
}
